.about{
  background: url(../img/about_bnr.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.our-story{
  padding: 100px 0;
}
.our-story .swiper{
  height: 250px;
}
.our-story .story-img img{
  width: 672px;
  height: 507px;
}

.our-story .customer .swiper-wrapper p{
  width: 50%;
  margin: 0 auto;
  padding: 57px 0;
}

.customer{
  padding-top: 80px;
}

.customer h4{
  text-align: center;
}

.about
