.contactus{
    background: url(../img/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.map .d-flex{
  align-items: flex-start;
}
