.productdetail {
  background-color: #FEE3D2;
  height: 115px;
}

.productdetail .mv-txt {
  padding: 23px 0;
}

.jacket {
  padding: 87px 0;
}

.jacket .d-flex {
  justify-content: unset;
  align-items: flex-start;
}

.jacket-img img {
  width: 425px;
  height: 862px;
  object-fit: cover;
}

.jacket-img ul li img {
  width: 155px;
  height: 160px;
  object-fit: cover;
}

.jacket-img ul.d-flex {
  flex-direction: column;
  gap: 13px;
}

.review-sec .tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.review .button {
  padding: 0 31px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: unset;
  color: #707070;
}

.button:hover {
  color: #000000;
}

.button.active {
  color: #000000;
}

.review .content.active {
  padding: 80px;
  display: block;
  color: #000000;
  background-color: #FFFFFF;
}

.review .content {
  display: none;
}

.review .swiper-button-prev {
  top: 20%;
  width: calc(var(--swiper-navigation-size)/ 4 * 27);
}

.review .swiper-button-next{
  top: 20%;
  width: calc(var(--swiper-navigation-size)/ 4 * 27);
}

.review-rating .swiper {
  height: 250px;
}

.review-rating .swiper-wrapper ul {
  width: 50%;
  margin: 0 auto;
}

.review-form h4{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 35px;
}

.review-form li.d-flex{
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.collection {
  position: relative;
}

.collection-img .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.collection-img .hover:hover {
  opacity: 1;
}

.collection .icon ul {
  width: 60%;
  margin: 0 auto;
}

.collection-img .icon {
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  opacity: 0;
}

.collection-img .icon i {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.collection:hover .icon {
  opacity: 1;
  transform: translateY(-25px);
  transition: 0.5s;
}

.collection .d-flex {
  flex-wrap: nowrap;
}

.jacket-collar .d-flex{
  justify-content: space-between;
}

.jacket-detail h6{
  font-size: 30px;
  font-weight: bold;
  padding-top: 37px;
}

.jacket-detail p{
  font-size: 16px;
  font-weight: 200;
  padding: 58px 0;
  border-bottom: 1px solid #000000;
}

.jacket-detail .product h6,span{
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}

.jacket-detail .product ul.d-flex{
  align-items: center;
}

.product{
  width: 64%;
  padding-top: 50px;
  border-bottom: 1px solid #000000;
}

.product h6::after {
  content: ':';
  padding-left: 19px;
}

.product  .d-flex {
  padding-bottom: 40px;
}

.product .size,.color{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.product .size  li{
  border: 1px solid #000000;
  width: 50px;
  text-align: center;
  padding: 8px 0;
}

.review-form input,
textarea {
  border: none;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.review-form .d-flex li {
  flex: 1 1 45%;
}

.review-form ul li{
  padding: 23px 0;
}

.review-form .btn{
  margin-top: 46px;
}

.categories{
  padding-top: 50px;
}

.categories .d-flex{
  padding-bottom: 25px;
}

.categories .d-flex  li{
  font-size: 16px;
  font-weight: 300;
}

.categories .d-flex li:first-child::after{
    content: ':';
    padding-left: 19px;
}

.review-sec p{
  font-size: 16px;
  font-weight: 200;
}

.content .d-flex{
  justify-content: flex-start;
}

.swiper-slide ul li{
  text-align: center;
}

.swiper-slide h4{
  font-size: 20px;
  font-weight: bold;
}

.review-sec .swiper-slide p {
 padding-bottom: 37px;
 width: 91%;
 margin: 0 auto;
}

.review .swiper-button-next {
  top: 20%;
}

.review .swiper-button-prev {
  top: 20%;
}

.related-product h4{
 font-size: 30px;
 font-weight: bold;
}

.related-product .collection-img{
  padding: 56px 0;
}

.related-product span{
  font-size: 16px;
}
